<% content_for :page_title do %>
  <%= plural_resource_name(Spree::VirtualGiftCard) %>
<% end %>

<% content_for :table_filter do %>
  <div class='gift-card-code-lookup'>
    <%= search_form_for @search, url: admin_gift_cards_path(@search) do |f| %>
      <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag nil, Spree.t(:redemption_code) %>
          <%= f.text_field :redemption_code_cont, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag nil, Spree.t(:recipient_email)  %>
          <%= f.text_field :recipient_email_cont, class: 'form-control'  %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag nil, Spree.t(:order_number, :number => '') %>
          <%= f.text_field :line_item_order_number_cont, class: 'form-control'  %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag nil, Spree.t(:send_date)  %>
          <%= f.text_field :sent_at_or_send_email_at_is, :class => 'datepicker datepicker-from form-control' , size: 25 %>
        </div>
      </div>
      </div>

      <div class="form-actions">
        <%= button Spree.t(:filter_results), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>


<%= render 'spree/admin/shared/index_table_options', collection: @gift_cards, simple: true %>

<% if @gift_cards.any? %>
  <table class="table">
    <thead>
      <tr>
        <th class="align-center">Redemption Code</th>
        <th class="align-center">Amount</th>
        <th class="align-center">Order Number</th>
        <th class="align-center">Purchased at</th>
        <th class="align-center">Recipient Email</th>
        <th class="align-center">Date Sent</th>
        <th class="align-center">Redeemed by</th>
        <th class="align-center">Redeemed at</th>
      </tr>
    </thead>

    <tbody>
      <% @gift_cards.each do |gift_card| %>
        <tr>
          <td class="align-center"><%= gift_card.formatted_redemption_code %></td>
          <td class="align-center"><%= number_to_currency(gift_card.amount) %></td>
          <td class="align-center"><%= link_to gift_card.order.number, edit_admin_order_path(gift_card.order) %></td>
          <td class="align-center"><%= gift_card.formatted_created_at %></td>
          <td class="align-center"><%= gift_card.recipient_email %></td>
          <td class="align-center"><%= gift_card.formatted_sent_at || gift_card.formatted_send_email_at %></td>
          <% if gift_card.redeemed? %>
            <td class="align-center"><%= link_to "#{gift_card.redeemer.email}", edit_admin_user_path(gift_card.redeemer) %></td>
            <td class="align-center"><%= gift_card.formatted_redeemed_at %></td>
          <% else %>
            <td class="align-center"></td>
            <td class="align-center"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::VirtualGiftCard)) %>
  </div>
<% end %>

<%= render 'spree/admin/shared/index_table_options', collection: @gift_cards, simple: true %>
