<%= render partial: 'spree/admin/users/sidebar', locals: { current: :gift_cards } %>
<%= render partial: 'spree/admin/users/user_page_actions' %>

<% content_for :page_title do %>
  <%= link_to @user.email, spree.edit_admin_user_url(@user) %> /
  <%= Spree.t(:gift_card) %>
<% end %>


<div data-hook="admin_user_gift_cards" id="admin_user_edit_gift_cards">
  <div data-hook="admin_user_edit_form_header">
    <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @user } %>
  </div>
  <div data-hook="admin_user_gift_card_edit_form">
    <%= form_for :gift_card, url: redeem_admin_user_gift_cards_path do |f| %>
      <fieldset>
        <%= render :partial => 'redemption_form', :locals => { :f => f } %>
        <div class="form-actions text-center well" data-hook="admin_user_edit_form_button">
          <%= render :partial => 'spree/admin/shared/new_resource_links', :locals => { :collection_url => edit_admin_user_url(@user) } %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
